.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1691B1;
}

.comment-even {
    background-color: #1691B1;
    color: #fff;
}

.comment-odd {
    color: #1691B1;
}

.comment-read {
    opacity: 0.3;
}

#recent-feedback {
    height: calc(100vh - 200px);
    overflow: scroll;
}