{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4">Feedbox <i class="fa fa-comments" aria-hidden="true"></i></h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="display-5">
                            <i class="fa fa-mobile" aria-hidden="true"></i>{{ phone_number }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/static/feedbox-qr.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8">
                        Using Nexmo's SMS API we can retrieve SMS messages on a webhook. The message and
                        details get stored in a database and a script running on the AIY Google Voice kit picks them
                        up.
                        <br><br>
                        At the press of a button, all of your messages get played out.
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="https://github.com/nexmo-community/feedbox-python" class="btn btn-primary"><i class="fa fa-github fa-2x"></i></a>
                        <a href="https://twitter.com/nexmodev" class="btn btn-primary"><i class="fa fa-twitter fa-2x"></i></a>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" id="recent-feedback">
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const $feedback = $("#recent-feedback");
        let comment_cache;

        loadComments();
        setInterval(loadComments, 5000);

        function loadComments() {
            $.get('/recent-comments-json', function (data) {
                    if (comment_cache !== JSON.stringify(data)) {
                        comment_cache = JSON.stringify(data);
                        $feedback.fadeOut('slow', function () {
                            $feedback.html("");
                            let feedbackHtml = ""
                            for (let i = 0; i < data.length; i++) {
                                feedbackHtml +=
                                    `
                                <div class="card ${i % 2 ? 'comment-even' : 'comment-odd'} ${data[i].read ? 'comment-read' : ''} feedback-comment">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                ${ data[i].comment }
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 small">
                                                ${ data[i].read ? '' : 'Unread' }
                                            </div>
                                            <div class="col-lg-6 small text-right">
                                                ${ data[i].message_timestamp }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                `
                            }
                            $feedback.html(feedbackHtml).fadeIn('slow');
                        })
                    }
                }
            )
        }

        function decodeEntities(encodedString) {
            let textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }
    </script>
{% endblock %}